
body{
  background-color: #f9f7f7;
  margin: 20px;
  padding: 20px;
  background-image: url("https://images.unsplash.com/photo-1519750783826-e2420f4d687f?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  /* Background image URL */
  background-size: cover; /* Cover the entire background */
  background-position: center center; /* Center the background image */
  
  
}
h1{
  color: #000080;
  font-family: Georgia, 'Times New Roman', Times, serif; /* list indicates fallback options */
}
.second-header {
  text-align: center;
  color:#000080;
  font-family: Georgia, 'Times New Roman', Times, serif; 

}

h3 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif; 
}

main{

  color: white; /*Text color*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: rgba(0, 0, 0, 0.5); /* Background overlay color with transparency */
  padding: 20px; /* Add padding to the container to make content more readable */
   
}

.header-style{ /*assigning a class to particular HTML element*/
  text-align: center;
  color: #56ccf2;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  }
header{
  text-align: center;
}
p, li{
  
  font-size: 18px;
} /* Text larger for easier reading */

.image-container {
    display: flex;
    justify-content: space-around; /* Adjust this value to control the spacing between images */
    align-items: center; /* Align images vertically at the center */
 
}

.image-container img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; /* Ensure the images maintain their aspect ratio */
    margin: 10px; /* Add margin between images */
}

a:hover{
  color: hotpink;
} /* Pseudo-class selector, hover means when mouse hovers over */
a:active{
  background-color: hotpink;
}/* Pseudo-class selector, active means when clicked */
footer{
  text-align: center;
  color: #333333;
  font-family: cursive;
  margin: 15px; /*Margin added so footer is spaced appropriately from main element*/
}


